{% extends 'base.html.twig'%}

{% block title %} voir tous nos biens {% endblock %}

{% block body%}
<div class="container mt-4">
<h3> Voir tous nos biens</h3>
<p> paragraphe à remplir </p>
   
</div>
{% endblock %}